@page
@model IndexModel
@{
    ViewData["Title"] = "suyun Günlüğü ilk deploy";
}

<div class="text-center">
    <h1 class="display-4" style="color: rgb(37, 7, 234);">İlk deployum susiko</h1>
    <p>Bugün .NET dünyasında yeni bir sayfa açtım!</p>
    
    <div style="border: 2px dashed gray; padding: 20px; border-radius: 10px;">
        <h2>Notlar:</h2>
        <ul>
            <li>HTML etiketlerini öğrendim.</li>
            <li>CMD ile dosya taşımayı başardım.</li>
            <li>İlk sayfamı oluşturdum!</li>
        </ul>
    </div>
</div>